<!DOCTYPE html>
<html lang="en">
    <%- include('./common/head'); %>

    <body>
        <%- include('./common/nav'); %>

        <div class="index px-5">
            <h1>Photos</h1>

            <% if (username !== null) { %> 

            <h3 class="mt-3">Hi @<%= username %>!</h3>
            <p class="description lead">Upload your own photo <a href="/upload">here</a>.</p>

            <% } %>
        </div>

        <% photos.forEach( photo => { %>
            <section>
                <div class="photo-content row px-5">

                    <div class="photo col-md text-center align-self-center">
                        <img src="<%= photo.photo_path %>" alt="<%= photo.alt_text %>" />
                    </div>
        
                    <div class="photo-info col-md text-left align-self-center">
                        <div class="first-line row pl-4">
                            <div class="username col-sm">
                                <h3>@<%= photo.username %></h3>
                            </div>
                            <div class="date col-md-3 text-truncate text-right text-muted align-self-center">
                                <%= photo.date_upload %>
                            </div>
                        </div>
                        <div class="likes text-left text-primary pl-4">
                            <!-- TODO: check if user has liked the picture to change icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                            &nbsp; x likes
                        </div>
                        <div class="caption text-left lead pl-4">
                            <%= photo.caption %>
                        </div>
                        <div class="comments-card card bg-light text-left mt-2 px-2 py-2 border-0 rounded">
                            <h5>Comments</h5>
                            <!-- TODO: show comments here -->
                            <div class="comments">
                                comments
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <% }) %>

        <%- include('./common/footer'); %>
    </body>

</html>