<!DOCTYPE html>
<html lang="en">
    <%- include('./common/head'); %>

    <body>
        <%- include('./common/nav'); %>

        <div class="index px-5">
            <h1>Photos</h1>

            <% if (username !== null) { %> 

            <h3 class="mt-1">Hi @<%= username %>!</h3>
            <p class="description lead">Upload your own photo <a href="/upload">here</a>.</p>

            <% } %>
        </div>

        <% for (var i = 0; i < photos.length; i++) { %>
            <section class="photos-section">
                <div class="photo-content row px-5">

                    <div class="photo col-md text-center align-self-center">
                        <img src="<%= photos[i].photo_path %>" alt="<%= photos[i].alt_text %>" class="img-fluid"/>
                    </div>
        
                    <div class="photo-info col-md text-left align-self-center">

                        <div class="first-line row pl-4">
                            <div class="username col-9 col-md-9">
                                <h3>@<%= photos[i].username %></h3>
                            </div>
                            <div class="date col-3 col-md-3 text-truncate text-right text-muted align-self-center">
                                <% const date = new Date(photos[i].date_upload);
                                   const formattedDate = ("0" + date.getDate()).slice(-2) + "/"
                                        + ("0" + (date.getMonth() + 1)).slice(-2) + "/"
                                        + date.getFullYear().toString().substr(-2) + " "
                                        + ("0" + date.getHours()).slice(-2) + ":"
                                        + ("0" + date.getMinutes()).slice(-2); %>
                                           
                                <%= formattedDate %>
                            </div>
                        </div>

                        <div class="likes text-left text-primary pl-4">
                            <% if (username === null) { %>
                                <span class="num-likes"><%= number_likes[i] %></span> likes
                            <% }  else { %>
                                <form action="/like" method="post" id="like-form">
                                    <input type="hidden" value="<%= photos[i].id %>" name="photo_id" id="photo_id"/>
                                    <button class="like-btn" type="submit" name="like" value="like">
                                        <% if (liked[i]) { %>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                        <% } else { %>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                        </svg>
                                        <% } %>
                                    </button> &nbsp; <span class="num-likes"><%= number_likes[i] %></span> likes
                                </form>
                            <% } %>
                        </div>

                        <div class="caption text-left lead pl-4">
                            <%= photos[i].caption %>
                        </div>

                        <div class="comments-card card bg-light text-right mt-2 px-2 py-2 border-0 rounded d-flex">
                            <h5 class="mx-2">Comments</h5>

                            <div class="comments overflow-auto mx-2 mb-3">
                                <% if (comments[i].length === 0) { %> 
                                <div class="comment no-comments">
                                    No comments yet.
                                </div>
                                <% } else { %>
                                    <% comments[i].forEach(comment => { %> 
                                    <div class="comment">
                                        <div class="comment-content">
                                            <span class="user-comment text-primary">@<%= comment.username %>:</span> <%= comment.content %>
                                        </div>
                                        <div class="comment-date small text-muted align-self-center">
                                            <% const date = new Date(comment.date_upload);
                                               const formattedDate = ("0" + date.getDate()).slice(-2) + "/"
                                                    + ("0" + (date.getMonth() + 1)).slice(-2) + "/"
                                                    + date.getFullYear().toString().substr(-2) + " "
                                                    + ("0" + date.getHours()).slice(-2) + ":"
                                                    + ("0" + date.getMinutes()).slice(-2); %>
                                           
                                            <%= formattedDate %>
                                        </div>
                                    </div>
                                    <% }) %>
                                <% } %> 
                            </div>

                            <% if (username !== null) { %> 
                            <form action="/comment" method="post" id="comment-form" class="d-flex flex-wrap justify-content-center mt-auto mb-2 mx-2">
                                <div class="input-group">
                                    <input type="hidden" value="<%= photos[i].id %>" name="photo_id" id="photo_id"/>
                                    <input type="text" class="form-control rounded" name="comment" id="comment" placeholder="Add a comment">
                                    <button type="submit" class="btn btn-primary py-2t">Post</button>
                                </div>
                            </form>
                            <% } %>
                        </div>

                    </div>
                    
                </div>
            </section>
        <% } %>

        <%- include('./common/footer'); %>
    </body>

</html>